<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=978">

<title>{{ site.title }}</title>

<link rel="stylesheet" href="{{ site.baseur l}}/css/style.css">

</head>
<body>


<div class="topnav">
  <a class="active" href="https://davidzomerdijk.github.io/moties-toegelicht/">Tweede Kamer Moties</a>
<!--  <a href="https://davidzomerdijk.github.io/moties-toegelicht/">Home</a>-->
  <a href="contact.html">Contact</a>
  <a href="uitleg.html">Uitleg</a>
  <a href="moties.html">Moties</a>

</div>

<article class="markdown-body">
{{ content }}
</article>
</body>
</html>